
.eventsTitle h1 {
    font-size: 96px;
    text-align: center;
    color: #022236;
    margin-top: 3rem;
}
.eventsContainer{
    display: flex;
    margin-top: 3rem;
    /* give each child flex 6 or justify content? */
    /* justify-content: space-evenly; */
    gap: 3rem;
    margin-left: 3rem;
    margin-right: 3rem;
    margin-bottom: 5rem;
}


.calendar{
    /* background-color: #D9D9D9; */
    flex: 8;
    padding: 1rem;
    border: 1px solid grey;
    border-radius: 1rem;

}

.eventContents{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 3rem;
    /* background-color: lightcoral; */
    /* flex: 4; */

}

.eventItem{
    display: flex;
    background-color: #D9D9D9;
    border-radius: 20px;
    /* margin-right: 25rem; */
    /* margin-left: 25rem; */
    color: black;
    padding: 1.5rem;
    justify-content: space-between;
    gap: 3rem;
    max-width: 20rem;
    align-items: center;

}

@media screen and (max-width: 768px) {
    .eventsContainer {
        flex-direction: column;
      }
}

@media screen and (max-width: 768px) {
    .eventItem {
        max-width: unset;
      }
}