.whoWeAreComp{
    background-image: url('../../assets/home-mountain.jpg');
    background-size: cover;
    width: 100%;
    height: 100vh;
    /* transform: scale(1.3);
    translate: 0 -134px; */
    background-position: bottom;
}


/* .whoWeAre{
    display: flex;
    flex-direction: column;
    position: relative;
    top: 35rem;
    left: 6rem;
    color: whitesmoke;
    margin-right: 35rem;
} */


.whoWeAreText{
    /* display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: baseline;
    transform: scale(0.7692);
    
    position: relative;
    top: 38rem;
    left: 13rem;
    color: whitesmoke;
    margin-right: 62rem; */
    display: flex;
    align-items: flex-end; /* Align items to the bottom */
    justify-content: flex-start; /* Justify items to the start (left) */
    min-height: 100vh;
    color: red;
    
}

.whoWeAreText p,h1 {
    margin-bottom: auto; 
}

.whoWeAreText h1 {
    /* font-weight: bold;
    font-size: 96px;
    margin-bottom: auto;  */
}