.footer{
    background-color: #022236;
    display: flex;
    padding: 0.5rem;
    justify-content: space-between;
    /* background-color: #444; */
    /* border-radius: 1rem; */
    /* margin-bottom: 1rem; */
}

.triumphLogo2{
    width: auto;
    height: 218px;
    margin-left: 1rem;
}

.logoContainer2{
    height: 5rem;
    /* background-color: lightblue; */
    
    display: flex;
    
    align-items: center;
}

.footerDesc{
    display: flex;
    flex-direction: column;
    line-height: 0.25;
    margin-top: 10px;
}

.footerDesc p {
    font-size: 12px;
    color: whitesmoke;
}

.created{
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.created p{
    font-size: 12px;
    line-height: 0;
    color: whitesmoke;
}