.giveButton {
    /* background: teal; */
    background-color: #333333;
    color: #f1eee9;
    border: 0;
    padding: 0.75rem;
    border-radius: 1.5rem;
    cursor: pointer;
    /* margin-top: 2rem;
    margin-bottom: 2rem; */
    text-decoration: none;
    font-size: 1.5rem;
    
  }

  .giveButton:hover {
    /* color: red; Specify your desired text color */
    text-decoration: none; /* Optional: To remove underline on hover */
    color: black;
    background-color: rgb(1, 201, 201)
  }

  h1{
    font-family: 'Playfair Display', serif;
    font-weight: bold;
    font-size: 7vh;
    color: #333333;
    text-align: center;
    
  }