.nav{
    background-color: whitesmoke;
    display: flex;
    flex-direction: column;
    padding: 0.5rem;
    border-radius: 1rem 1rem 0px 0px;
}

.header1 {
    height: 5rem;
    background-color: lightblue;
    border-radius: 1rem 1rem 0px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.triumphLogo{
    width: auto;
    height: 280px;
}