h1 {
  font-weight: bold;
  font-size: 8vh;
}

.backgroundcolor{
  background-image: linear-gradient( #E8E1D7, #F1EEE9);
  translate: 0px -96px;
}

.behindnav{
  height: 96px;
  /* translate: 0px -96px; */
}