h1 {
  font-weight: bold;
  font-size: 8vh;
}

.backgroundcolor{
  background-image: linear-gradient( #E8E1D7, #F1EEE9);
  /* background-image: -webkit-gradient(linear, left top, left bottom, from(#E8E1D7), to(#F1EEE9)); */
}